Package: com.hp-repo.johnmadden
Name: John Madden!
Version: 1.0.1
Architecture: iphoneos-arm
Description: A John Madden Cydia icon. Using this as a placeholder theme.
Author: HP-Repo
Maintainer: HP-Repo
Section: Themes
Depends: winterboard, com.codethemed.iconbundles, firmware (>=6.0)
